.grid {
  display: flex;
  flex-wrap: wrap;
}

.grid-item {
  width: 100%;
}

@media (min-width: 768px) {

  .grid-item {
    flex: 1;
  }

  .grid--fit > .grid-item {
    flex: 1;
  }

  .grid--full > .grid-item {
    flex: 0 0 100%;
  }

  .grid--1of2 > .grid-item {
    flex: 0 0 50%;
    width: 50%;
  }

  .grid--1of3 > .grid-item {
    flex: 0 0 33.3333%;
    width: 33.3333%;
  }

  .grid--1of4 > .grid-item {
    flex: 0 0 25%;
    width: 25%;
  }

}
